<% flash.each do |type, message| %>
  <% variant = case type.to_sym
               when :notice then :success
               when :alert, :error then :destructive
               else nil
               end %>
  <% icon = case type.to_sym
            when :notice then "check-circle"
            when :alert, :error then "exclamation-circle"
            else "info-circle"
            end %>
  <div class="fixed right-4 top-4 z-50 w-[calc(100%-2rem)] max-w-md" data-controller="flash">
    <%= render RubyUI::Alert.new(variant: variant, class: "pr-11 shadow-lg") do %>
      <i class="fas fa-<%= icon %>"></i>
      <div>
        <%= render RubyUI::AlertDescription.new do %>
          <%= message %>
        <% end %>
      </div>
      <button class="absolute right-3 top-3 text-current/70 hover:text-current transition-colors" data-action="click->flash#dismiss" type="button">
        <span class="sr-only">Fechar</span>
        <i class="fas fa-times"></i>
      </button>
    <% end %>
  </div>
<% end %>
